:root{
    font-family: 'Quicksand', sans-serif;
}
body{
    display: grid;
    grid-auto-rows: minmax(1rem, auto);
    height: auto;
    margin: 0;
    padding: 0;

}
.nav-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    text-transform: capitalize;
    align-items: center;
}
nav{
    background-color: #007653;
    color: white;
}
 /* nav li:hover{
    background-color: #075840;
    height: 2rem;
    border-radius: .6rem;
    align-items: center;
} */
header{
    width: 100%;
    background-color: #007653;
    height: auto;

}
.nav-items li:first-child {
    grid-column: span 2;
}
.logo{
    height: clamp(1.5rem, 4vw, 2.1rem);
}

 .logo.bw {
    filter: grayscale(100%) brightness(0%);
    height: clamp(1.5rem, 4vw, 2.1rem);
}
li{
    list-style-type: none;
}
#landing{
    background-color: #F9A21B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-size: clamp(2rem, 4vw, 4rem);
}
button{
    border: solid black .12rem;
    border-radius: clamp(.5rem, 3vw, .7rem);
    padding: clamp(.7rem, 3vw, 1rem);
    font-size: clamp(.7rem, 3vw, 1rem);
    background-color: #FFEBE4;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
button:hover{
    box-shadow: 1px 2px 3px 1px;
}
.mobile-menu{
   display: flex;
   flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 1rem 0;

}

/* hamburger menu transform properties start here */
.nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(.5rem, 4vw, 2.1rem);
    width: clamp(.5rem, 4vw, 2.1rem);
  }
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
  }
  
  .nav-toggle .bar {
    height: .2rem;
    width: 100%;
    background-color: white;
    border-radius: .9rem;
    transition: all 100ms ease-in-out;
  }
  
  .nav-toggle:hover {
    cursor: pointer;
  }
  
  .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 1.8rem;
    background-color: black;
  }
  
  .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
    background-color: black;
  }
  
  .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 1.8rem;
    background-color: black;
  }  
/* end of hamburger menu icon */

@media only screen and (max-width: 1000px) {
    .nav-items{
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .mobile-menu{
        display: none;
    }
}
/* mobile dropdown menu */
@media screen and (min-width: 1000px) {
    .mobile-dropdown{
        display: none;
    }
  }
  .mobile-dropdown{


  }

  .mobile-dropdown li {
    color: black;
    margin: 1rem .3rem 1rem 2rem;
  }
  .mobile-dropdown{
    background-color: #FFEBE4;

  }
  .mobile-dropdown button{
    margin-left: 3.2rem;
    border: none;
    background-color: #fbdbd0;
    font-size: 1rem;
  }
  .mobile-dropdown img{
    margin-left: 2.2rem;
  }
